<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PerfumeShared.Properties.Settings.yeensnhi_mydbConnectionString"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=yeensnhi_mydb;User ID=yeensnhi_mydb;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>